
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/lunaChat.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/settings.cpython-312.pyc
__pycache__/settings.cpython-310.pyc
__pycache__/lunaChatPage.cpython-312.pyc
